<!--Author: Chinmai sai Sure-->

<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <br />
      <h2>Create a new order line item</h2>
      <br />
      <% maxID=0; for (var i=0; i < orderLineItems.query.length; i++) {
        if(orderLineItems.query[i]._id > maxID) { maxID=orderLineItems.query[i]._id;   }
        var age = orderLineItems.query[i].age;}%>
      <div class="content">
        <div>
          <form name="orderLine" method="POST" action="/orderLine/save">

            <div class="form-group" id=frm>
              <label for="_id">Order Line Item ID</label>
              <input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
            </div>

            <%include partial_edit.ejs%>

            <div class="form-group">
              <input type="submit" value="Save" class="btn btn-primary" />
            </div>
          </form>

          <br />

          <form method="get" action="/orderLineItem">
            <input type="submit" value="Return to list" class="btn btn-caution" />
          </form>

        </div>a
      </div>
    </div>
  </div>
</div>