<!-- Author: Jyoshna Boppidi -->

<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        
        <br/>
        <br>
        <h2>Add new Order </h2>
        <br/>
        <% maxID=0; 
        for (let i=0; i < orders.query.length; i++) {
        if(orders.query[i]._id > maxID) { maxID=orders.query[i]._id; }
          }%>
          <div class="content">
            <div>
              <form name="order" method="POST" action="/order/save">
  
                <div class="form-group" id=frm>
                  <label for="_id">ID</label>
                  <input type="Number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
                </div>
  
                <!-- COMMON TO EDIT AND CREATE -->
                <%include partial_edit.ejs%>
  
                  <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                  </div>
              </form>
              <br/>
              <form method="get" action="/order">
                <input type="submit" value="Return to list" class="btn btn-caution" />
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>


