<!-- Author: Jyoshna Boppidi -->

<br/>
<br/>
<h2>Confirm deletion of order</h2>
<br/>
<br/> ID:
<%=  order._id %>
<br> DatePlaced:
  <%=order.datePlaced %>
<br/> DateShipped:
    <%=order.dateShipped%>
<br/> PaymentType:
      <%=order.paymentType%>
<br/>AmountDue:
      <%=order.amountDue%>
<br/>Paid:
      <%=order.paid%>
<br/>Customer_id:
      <%=order.customer_id%>
<br/>   
            <br/>
            <br/>

            <form method="get" action="/order">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/order/delete/<%= order._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>



