
<!-- Author: Jyoshna Boppidi -->
<br/>
<br/>
<h2>order details</h2>
<br/> ID:
<%=  order._id %>
<br> DatePlaced:
  <%=order.datePlaced %>
<br/> DateShipped:
    <%=order.dateShipped%>
<br/> PaymentType:
      <%=order.paymentType%>
<br/>AmountDue:
      <%=order.amountDue%>
<br/>Paid:
      <%=order.paid%>
<br/>Customer_id:
      <%=order.customer_id%>
<br/>   
   <br/>   
            <br/>
            <br/>
            <form method="get" action="/order">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>
