<!--Author: Jyoshna Boppidi-->

<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
        
      <div class="form-group">
        <label for="datePlaced">DatePlaced</label>
        <input type="date" class="form-control" id="datePlaced" name="datePlaced" value="<%= order.datePlaced %>" required>
      </div>
      <div class="form-group">
        <label for="dateShipped">DateShipped</label>
        <input type="date" class="form-control" id="dateShipped" name="dateShipped" value="<%= order.dateShipped %>" required>
      </div>
      <div class="form-group">
        <label for="paymentType">Payment Type</label>
        <select class="form-control" id="paymentType" name="paymentType" value="<%= order.paymentType %>" required>
          <option value="Not Selected">Not Selected</option>
          <option value="cash">Cash</option>
          <option value="credit card or Debit Card">Credit Card or Debit Card</option>
          <option value="check">Check</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="amountDue">Amount Due</label>
        <input type="Number" class="form-control" id="amountDue" name="amountDue" value="<%= order.amountDue %>" required>
      </div>
      <div class="form-group">
        <label for="paid">Paid</label>
        <select class="form-control" id="paid" name="paid" value="<%= order.paid %>"     required>
          <option value="True">True</option>
          <option value="False">False</option>
        
        </select>
      </div>
      <div class="form-group">
        <label for="customer_id">Customer_id</label>
        <input type="Number" class="form-control" id="customer_id" name="customer_id" value="<%= order.customer_id %>" required>
      </div>
      </div>
  </div>